{% extends "base.html" %}

{% block page_title %} Kino HOMAR  {% endblock %}

{% block content %}
<div class="lead text-center col-md-8 offset-md-2">
    <h1>O kinie</h1><br>
        <p>Zlokalizowane w Centrum Handlowym Gamma kino HOMAR jest długo oczekiwanym, pierwszym takim obiektem w naszym powiecie. Oprócz granego repertuaru organizujemy również maratony filmowe na specjalne okazje, a także - w ramach czwartkowego Kina Dla Pasjonatów - sprowadzamy mniej znane tytuły, których zwykle nie znajdziecie w kinach sieciowych.</p><br>

    <h1>Sala kinowa</h1><br>
        <p>Nasza klimatyzowana sala oferuje odsłuch kinowy w standardzie Dolby ATMOS, który zapewni Państwu niezapomniane wrażenia.</p>

</div>
{% endblock %}


