{% extends "base.html" %}
{% block page_title %} Cennik {% endblock %}

{% block content %}
<div class="lead text-center">
<h1>Cennik</h1><br>
    <ul class="list-unstyled"><span class="fw-bold">Filmy bez ograniczeń wiekowych (animowane, familijne):</span>
        <li>Bilet normalny: 19 zł</li>
        <li>bilet ulgowy: 17 zł</li>
    </ul>
    <ul class="list-unstyled"><span class="fw-bold">Filmy fabularne (powyżej 13 lat):</span>
        <li>Bilet normalny: 23 zł</li>
        <li>bilet ulgowy: 20 zł</li>
    </ul>
</div>
{% endblock %}